Repository approvers/OreOreBot2, changes with the labels that .github/labeler.yml gives for each.
All labels: C-GitHub Actions, T-OreOreBot2, T-Documents

.github/labeler.yml:

C-GitHub Actions:
  - .github/workflows/*.yml

T-OreOreBot2:
  - src/**

T-Documents:
  - docs/**

docs: change japanese
  docs/src/pages/references/commands/_meta.json
Labels: T-Documents

docs: link content_report issue
  docs/theme.config.tsx
Labels: T-Documents

docs: fix base repository link
  docs/theme.config.tsx
Labels: T-Documents

docs: remove repository link
  docs/src/pages/_meta.json
Labels: T-Documents

fix: enable next config
  docs/next.config.js
Labels: T-Documents

fix: build error
  docs/src/pages/references/commands/voice/party.mdx
Labels: T-Documents

feat: support colk gyokuon short version
  assets/gyokuon/gyokuon-short.mp3
  src/server/index.ts
  src/service/command/gyokuon.ts
Labels: T-OreOreBot2

docs: added short version note
  docs/src/pages/references/commands/voice/colk.mdx
Labels: T-Documents

chore: added short flag test-case
  src/service/command/gyokuon.test.ts
Labels: T-OreOreBot2

Expand glob by prettier itself not shell
  docs/package.json
Labels: T-Documents

Format
  docs/src/pages/references/commands/channel-info.mdx
  docs/src/pages/references/commands/dice.mdx
  docs/src/pages/references/commands/meme/index.mdx
  docs/src/pages/references/commands/meme/takopi.mdx
  docs/src/pages/references/commands/meme/tsureteike.mdx
  docs/src/pages/references/commands/meme/web3.mdx
  docs/src/pages/references/commands/role-info.mdx
  docs/src/pages/references/commands/stfu.mdx
  docs/src/pages/references/commands/user-info.mdx
  docs/src/pages/references/commands/version.mdx
  docs/src/pages/references/commands/voice/party.mdx
  docs/src/pages/references/features/edit-diff.mdx
  docs/src/pages/references/features/kawaemon.mdx
  docs/src/pages/references/features/time-signal.mdx
  docs/src/pages/references/features/typo.mdx
  docs/src/pages/references/features/vc-diff.mdx
Labels: T-Documents

feat: こるくの玉音放送縮小版を追加 (#936)
  assets/gyokuon/gyokuon-short.mp3
  docs/src/pages/references/commands/voice/colk.mdx
  src/server/index.ts
  src/service/command/gyokuon.test.ts
  src/service/command/gyokuon.ts
Labels: T-OreOreBot2, T-Documents

chore: glob パターンを文字列として渡すように修正 (#938)
  docs/package.json
  docs/src/pages/references/commands/channel-info.mdx
  docs/src/pages/references/commands/dice.mdx
  docs/src/pages/references/commands/meme/index.mdx
  docs/src/pages/references/commands/meme/takopi.mdx
  docs/src/pages/references/commands/meme/tsureteike.mdx
  docs/src/pages/references/commands/meme/web3.mdx
  docs/src/pages/references/commands/role-info.mdx
  docs/src/pages/references/commands/stfu.mdx
  docs/src/pages/references/commands/user-info.mdx
  docs/src/pages/references/commands/version.mdx
  docs/src/pages/references/commands/voice/party.mdx
  docs/src/pages/references/features/edit-diff.mdx
  docs/src/pages/references/features/kawaemon.mdx
  docs/src/pages/references/features/time-signal.mdx
  docs/src/pages/references/features/typo.mdx
  docs/src/pages/references/features/vc-diff.mdx
Labels: T-Documents

docs: fix codeblock filename
  docs/src/pages/development/emoji-seq.mdx
  docs/src/pages/development/meme.mdx
Labels: T-Documents

docs: コードブロックのファイル名が表示されない問題の修正 (#954)
  docs/src/pages/development/emoji-seq.mdx
  docs/src/pages/development/meme.mdx
Labels: T-Documents

Change onDisconnected feature
  src/service/voice-connection.ts
Labels: T-OreOreBot2

Fix to do not handle retry
  src/adaptor/discord/voice.ts
Labels: T-OreOreBot2

Remove return
  src/service/command/gyokuon.ts
  src/service/command/kaere.ts
  src/service/command/party.ts
Labels: T-OreOreBot2

Silent log
  src/adaptor/discord/voice.ts
Labels: T-OreOreBot2

fix: 再接続の制御を除去 (#959)
  src/adaptor/discord/voice.ts
  src/service/command/gyokuon.ts
  src/service/command/kaere.ts
  src/service/command/party.ts
  src/service/voice-connection.ts
Labels: T-OreOreBot2

Refactor with unknownId
  src/adaptor/proxy/middleware/message-convert.ts
  src/model/id.ts
Labels: T-OreOreBot2

Handle interactionCreate event
  src/adaptor/proxy/command.ts
  src/adaptor/proxy/command/slash.ts
Labels: T-OreOreBot2

Weaken params
  src/adaptor/proxy/command.ts
  src/adaptor/proxy/command/slash.ts
Labels: T-OreOreBot2

Add unit test
  src/adaptor/proxy/command/slash.test.ts
Labels: T-OreOreBot2

Fixup mock
  src/adaptor/proxy/command/slash.test.ts
Labels: T-OreOreBot2

Handle when no data
  src/adaptor/proxy/command/slash.ts
Labels: T-OreOreBot2

Fix mock
  src/adaptor/proxy/command/slash.test.ts
Labels: T-OreOreBot2

Support all parameter types
  src/adaptor/proxy/command/slash.ts
Labels: T-OreOreBot2

feat: スラッシュコマンドのハンドリング処理を追加 (#960)
  src/adaptor/proxy/command.ts
  src/adaptor/proxy/command/slash.test.ts
  src/adaptor/proxy/command/slash.ts
  src/adaptor/proxy/middleware/message-convert.ts
  src/model/id.ts
Labels: T-OreOreBot2

Add schemaToDiscordFormat
  src/adaptor/command-schema.ts
Labels: T-OreOreBot2

Add SLASH_COMMAND feature
  README.md
Labels: none

Implement registration
  src/server/index.ts
Labels: T-OreOreBot2

Delete commands on no feature
  src/server/index.ts
Labels: T-OreOreBot2

Add CLIENT_ID description to README
  README.md
Labels: none

Fix to send empty array
  src/server/index.ts
Labels: T-OreOreBot2

Fix to support MESSAGE
  src/adaptor/command-schema.ts
Labels: T-OreOreBot2

Fix to add key as name
  src/adaptor/command-schema.ts
Labels: T-OreOreBot2

Require description on subcommand clause
  src/model/command-schema.ts
Labels: T-OreOreBot2

Add description field for subcommand
  src/adaptor/command-schema.ts
Labels: T-OreOreBot2

Require description field on Schema
  src/adaptor/command-schema.ts
  src/model/command-schema.ts
Labels: T-OreOreBot2
