Repository approvers/OreOreBot2, changes with the labels that .github/labeler.yml gives for each.
All labels: C-GitHub Actions, T-OreOreBot2, T-Documents

Add description field
  src/service/command/channel-info.ts
  src/service/command/debug.ts
  src/service/command/dice.ts
  src/service/command/guild-info.ts
  src/service/command/gyokuon.ts
  src/service/command/help.ts
  src/service/command/judging.ts
  src/service/command/kaere.ts
  src/service/command/meme.ts
  src/service/command/party.ts
  src/service/command/ping.ts
  src/service/command/role-create.ts
  src/service/command/role-info.ts
  src/service/command/role-rank.ts
  src/service/command/stfu.ts
  src/service/command/typo-record.ts
  src/service/command/user-info.ts
  src/service/command/version.ts
Labels: T-OreOreBot2

Fix map of names
  src/adaptor/command-schema.ts
Labels: T-OreOreBot2

Update test sample
  src/adaptor/proxy/command/schema.test.ts
  src/adaptor/proxy/command/slash.test.ts
Labels: T-OreOreBot2

Fix to add description
  src/service/command/kokusei-chousa.ts
Labels: T-OreOreBot2

Fix order of options
  src/adaptor/command-schema.ts
Labels: T-OreOreBot2

Fix test cases
  src/adaptor/proxy/command/schema.test.ts
  src/adaptor/proxy/command/slash.test.ts
Labels: T-OreOreBot2

Replace CLIENT_ID as APPLICATION_ID
  README.md
  src/server/index.ts
Labels: T-OreOreBot2

Remove empty options
  src/adaptor/command-schema.ts
  src/server/index.ts
Labels: T-OreOreBot2

Minimize options
  src/adaptor/command-schema.ts
Labels: T-OreOreBot2

Decompose into post requests
  src/server/index.ts
Labels: T-OreOreBot2

Add APPLICATION_ID to example
  .env.example
Labels: none

Improve registration
  src/server/index.ts
Labels: T-OreOreBot2

Compare objects with deep-equal
  package.json
  src/server/index.ts
  yarn.lock
Labels: T-OreOreBot2

Fix displaying length
  src/server/index.ts
Labels: T-OreOreBot2

Fix parameter name
  src/service/command/channel-info.ts
Labels: T-OreOreBot2

Fix to support CHANNEL
  src/adaptor/proxy/command/slash.ts
Labels: T-OreOreBot2

Avoid deferReply
  src/adaptor/proxy/command.ts
Labels: T-OreOreBot2

feat: スラッシュコマンドの対応 (#974)
  .env.example
  README.md
  package.json
  src/adaptor/command-schema.ts
  src/adaptor/proxy/command.ts
  src/adaptor/proxy/command/schema.test.ts
  src/adaptor/proxy/command/slash.test.ts
  src/adaptor/proxy/command/slash.ts
  src/model/command-schema.ts
  src/server/index.ts
  src/service/command/channel-info.ts
  src/service/command/debug.ts
  src/service/command/dice.ts
  src/service/command/guild-info.ts
  src/service/command/gyokuon.ts
  src/service/command/help.ts
  src/service/command/judging.ts
  src/service/command/kaere.ts
  src/service/command/kokusei-chousa.ts
  src/service/command/meme.ts
  src/service/command/party.ts
  src/service/command/ping.ts
  src/service/command/role-create.ts
  src/service/command/role-info.ts
  src/service/command/role-rank.ts
  src/service/command/stfu.ts
  src/service/command/typo-record.ts
  src/service/command/user-info.ts
  src/service/command/version.ts
  yarn.lock
Labels: T-OreOreBot2

docs: remove prefix to meta file
  docs/src/pages/references/commands/_meta.json
  docs/src/pages/references/commands/meme/_meta.json
  docs/src/pages/references/commands/voice/_meta.json
Labels: T-Documents

docs: added getting started page
  docs/src/pages/references/_meta.json
  docs/src/pages/references/commands/_meta.json
  docs/src/pages/references/getting-started.mdx
Labels: T-Documents

docs: スラッシュコマンド形式の詳細を追加 (#975)
  docs/src/pages/references/_meta.json
  docs/src/pages/references/commands/_meta.json
  docs/src/pages/references/commands/meme/_meta.json
  docs/src/pages/references/commands/voice/_meta.json
  docs/src/pages/references/getting-started.mdx
Labels: T-Documents

feat: Minify build file with `--minify` and `--charset=utf8` option
  package.json
Labels: none

Fix parsing CHOICES
  src/adaptor/proxy/command/slash.ts
Labels: T-OreOreBot2

Enforce test
  src/adaptor/proxy/command/slash.test.ts
Labels: T-OreOreBot2

Use null as none
  src/adaptor/proxy/command/slash.test.ts
Labels: T-OreOreBot2

fix: 選択肢のパース処理の修正 (#979)
  src/adaptor/proxy/command/slash.test.ts
  src/adaptor/proxy/command/slash.ts
Labels: T-OreOreBot2

build: ビルドされたコードの縮小 (#977)
  package.json
Labels: none

chore: update funding user
  .github/FUNDING.yml
Labels: none

chore: GitHub Sponsors の設定ファイルに限界開発鯖Orgを指定する (#981)
  .github/FUNDING.yml
Labels: none

docs: faviconの追加
  docs/public/assets/favicon-16x16.png
  docs/public/assets/favicon-32x32.png
  docs/public/assets/favicon.ico
  docs/public/assets/favicon.svg
  docs/theme.config.tsx
Labels: T-Documents

chore: update FUNDING.yaml
  .github/FUNDING.yml
Labels: none

docs: faviconの追加 (#982)
  .github/FUNDING.yml
  docs/public/assets/favicon-16x16.png
  docs/public/assets/favicon-32x32.png
  docs/public/assets/favicon.ico
  docs/public/assets/favicon.svg
  docs/theme.config.tsx
Labels: T-Documents

Fix typo in description
  src/service/command/user-info.ts
Labels: T-OreOreBot2

fix: user-info の説明文の誤植を修正 (#983)
  src/service/command/user-info.ts
Labels: T-OreOreBot2

Fix taskConsumerId type
  src/runner/schedule.ts
Labels: T-OreOreBot2

Fix taskConsumerId type
  src/runner/schedule.ts
Labels: T-OreOreBot2

feat: entrance output interface
  src/adaptor/discord/output.ts
  src/service/output.ts
Labels: T-OreOreBot2

feat: added welcome message
  src/adaptor/proxy/member.ts
  src/runner/member.ts
  src/server/index.ts
  src/service/index.ts
  src/service/welcome-message.ts
Labels: T-OreOreBot2

feat: send with mention
  src/adaptor/discord/output.ts
  src/service/output.ts
  src/service/welcome-message.ts
Labels: T-OreOreBot2

feat: added main channel list
  src/service/welcome-message.ts
Labels: T-OreOreBot2

.github/labeler.yml:

C-GitHub Actions:
  - .github/workflows/*.yml

T-OreOreBot2:
  - src/**

T-Documents:
  - docs/**
