Repository approvers/OreOreBot2, changes with the labels that .github/labeler.yml gives for each.
All labels: C-GitHub Actions, T-OreOreBot2, T-Documents

test: added test-case
  src/service/welcome-message.test.ts
Labels: T-OreOreBot2

docs: update env guide and example
  .env.example
  README.md
Labels: none

refactor: also known as import
  src/adaptor/proxy/member.ts
Labels: T-OreOreBot2

refactor: simplify
  src/adaptor/proxy/member.ts
Labels: T-OreOreBot2

refactor: remove sendEmbed method
  src/adaptor/discord/output.ts
  src/service/output.ts
  src/service/welcome-message.test.ts
Labels: T-OreOreBot2

feat: ようこそメッセージの追加 (#1028)
  .env.example
  README.md
  src/adaptor/discord/output.ts
  src/adaptor/proxy/member.ts
  src/runner/member.ts
  src/server/index.ts
  src/service/index.ts
  src/service/output.ts
  src/service/welcome-message.test.ts
  src/service/welcome-message.ts
Labels: T-OreOreBot2

chore: migration docker compose v2
  compose.yaml
  docker-compose.yml
Labels: none

chore: 設定ファイルを Docker Compose v2 へ移行 (#1041)
  compose.yaml
  docker-compose.yml
Labels: none

ci: migration github actions
  .github/workflows/build.yml
  .github/workflows/dockerfilelint.yml
  .github/workflows/eslint.yml
  .github/workflows/prettier.yml
  .github/workflows/release.yml
Labels: C-GitHub Actions

ci: update codeql path
  .github/codeql/codeql-config.yml
Labels: none

feat: enable workspaces
  package.json
  yarn.lock
Labels: none

docs: split packages readme
  README.md
  packages/bot/README.md
  packages/bot/compose.yaml
  packages/docs/README.md
Labels: none

.github/labeler.yml:

C-GitHub Actions:
  - .github/workflows/*.yml

T-OreOreBot2:
  - src/**

T-Documents:
  - docs/**
