Repository approvers/OreOreBot2, pull requests merged in 2022-10, with the labels that each got.

#520 chore: GPG鍵の更新
  SECURITY.md
Labels: documentation

#538 feat: 健常者エミュレータ構文の作成
  src/service/command/meme.test.ts
  src/service/command/meme/index.ts
  src/service/command/meme/kenjou.ts
Labels: enhancement

#558 feat: Dice verbose 各ダイスの出目を詳細表示するオプションを追加
  src/service/command/dice.test.ts
  src/service/command/dice.ts
Labels: enhancement, improvement

#559 feat: 短縮形エイリアスの追加
  src/service/command/guild-info.ts
  src/service/command/role-info.test.ts
  src/service/command/role-info.ts
  src/service/command/user-info.ts
Labels: improvement
