Repository approvers/OreOreBot2, pull requests merged in 2022-11, with the labels that each got.

#567 docs: READMEにおける環境変数の必須とデフォルト値に関する記述を修正
  README.md
Labels: documentation

#582 fix: 絵文字のマッチパターンをより厳格に
  assets/emoji-seq.yaml
Labels: improvement

#584 feat: コウメ太夫構文ジェネレーターの追加
  src/service/command/meme.test.ts
  src/service/command/meme/index.ts
  src/service/command/meme/koume.ts
Labels: enhancement

#586 feat(meme): 短いオプションのキーが使えるように
  src/service/command/meme.ts
Labels: bug, enhancement, improvement, high

#587 ci(release): レポジトリによる実行条件の追加
  .github/workflows/release.yml
Labels: workflow (gh-actions)

#591 chore: docker-compose.yml の追加
  README.md
  docker-compose.yml
Labels: documentation, improvement

#585 feat: タコピー構文に教員名を変更できるオプション`-c`を追加
  src/service/command/meme.test.ts
  src/service/command/meme/takopi.ts
Labels: enhancement

#590 ci(release): リリース CI をリリース PR ベースに変更
  .github/actions/publish.yml
  .github/workflows/release.yml
  .releaserc.json
Labels: workflow (gh-actions)
