Repository approvers/OreOreBot2, pull requests merged in 2022-03, with the labels that each got.

#45 Bold-Italic警察だ!!! ：Bold-Italic警察の追加
  src/adaptor/transformer/message-convert.ts
  src/service/bold-italic-cop.test.ts
  src/service/bold-italic-cop.ts
  src/service/index.ts
Labels: enhancement

#50 服役の追加
  src/service/hukueki.test.ts
  src/service/hukueki.ts
  src/service/index.ts
Labels: enhancement

#53 第一引数にスペースがあってもちゃんと服役できるように
  CHANGELOG.md
  package.json
  src/service/hukueki.test.ts
  src/service/hukueki.ts
Labels: enhancement

#48 ロールが作成されたらかわえもんに自動付与する機能の実装
  .env.example
  .github/workflows/codeql-analysis.yml
  README.md
  src/adaptor/discord-output.ts
  src/adaptor/discord-role.ts
  src/adaptor/role-proxy.ts
  src/runner/role.ts
  src/server/extract-env.ts
  src/server/index.ts
  src/service/index.ts
  src/service/kawaemon-has-all-roles.test.ts
  src/service/kawaemon-has-all-roles.ts
  src/service/output.ts
  src/service/voice-diff.test.ts
  src/service/voice-diff.ts
Labels: enhancement

#70 add paths-ignore
  .github/workflows/codeql-analysis.yml
  .github/workflows/eslint.yml
  .github/workflows/prettier.yml
  .github/workflows/test.yml
Labels: workflows

#73 タコピー構文の追加
  src/service/hukueki.test.ts
  src/service/hukueki.ts
Labels: enhancement

#76 ci: 自動 CHANGELOG/バージョン更新のセットアップ
  .commitlintrc.json
  .github/workflows/changelog.yaml
  .github/workflows/release.yml
  .huskyrc.json
  .releaserc.json
Labels: workflows

#74 Release v1.5.0
  .commitlintrc.json
  .github/dependabot.yml
  .github/workflows/changelog.yaml
  .github/workflows/release.yml
  .huskyrc.json
  .releaserc.json
  CHANGELOG.md
  package.json
  src/service/hukueki.test.ts
  src/service/hukueki.ts
Labels: workflows

#81 ci: 自動生成 CI の修正
  .github/workflows/changelog.yaml
  .github/workflows/release.yml
Labels: workflows

#87 ci: 自動生成 CI の修正
  .github/workflows/changelog.yaml
  .github/workflows/release.yml
Labels: workflows

#89 chore: 依存関係の更新
  yarn.lock
Labels: dependencies

#93 fix: システムメッセージに反応しないようにフィルタを強化
  src/adaptor/transformer/bot-filter.ts
Labels: bug

#96 ci: リリース CI を統合する形で修正
  .github/workflows/changelog.yaml
  .github/workflows/release.yml
Labels: workflows

#97 ci: Markdown に関する CI の修正
  .github/workflows/eslint.yml
  .github/workflows/prettier.yml
  .github/workflows/test-else.yml
Labels: workflows

#98 ci: CHANGELOG 生成の置き換え
  .github/workflows/release.yml
Labels: workflows

#99 ci: test-else の緊急修正
  .github/workflows/test-else.yml
Labels: workflows

#95 feat(docs): コントリビューター向けのドキュメント追加
  CONTRIBUTING.md
  README.md
Labels: documentation

#100 ci: 忘れていた `yarn` の修正
  .github/workflows/release.yml
Labels: workflows

#102 ci: CHANGELOG.md 関係を除去
  .github/workflows/release.yml
  CHANGELOG.md
Labels: workflows

#104 feat: 国勢調査に人間の数の項目名を追加、改善
  src/service/kokusei-chousa.test.ts
  src/service/kokusei-chousa.ts
Labels: enhancement, Type: 国勢調査

#105 feat: かくしん的☆めたまるDaisukeの追加
  assets/party/kakusin-daisuke.mp3
  src/server/index.ts
  src/service/party.ts
Labels: enhancement

#107 fix(asset): kakusin-daisukeの音量調整
  assets/party/kakusin-daisuke.mp3
Labels: bug

#101 タコピー構文で教員と自分の名前を変更する `-f` オプションの追加
  src/service/hukueki.test.ts
  src/service/hukueki.ts
Labels: enhancement, Type: 服役
