Repository approvers/OreOreBot2, pull requests merged in 2022-12, with the labels that each got.

#600 refactor: 各Memeのテストケースを独立させる
  src/service/command/meme.test.ts
  src/service/command/meme/test/dousurya.test.ts
  src/service/command/meme/test/hukueki.test.ts
  src/service/command/meme/test/kenjou.test.ts
  src/service/command/meme/test/koume.test.ts
  src/service/command/meme/test/lolicon.test.ts
  src/service/command/meme/test/moeta.test.ts
  src/service/command/meme/test/n.test.ts
  src/service/command/meme/test/takopi.test.ts
  src/service/command/meme/test/web3.test.ts
Labels: improvement

#601 docs: update to gpg key
  SECURITY.md
  src/service/command/meme.test.ts
Labels: documentation

#612 ci: TrivyによるDocker ImageのScanを追加
  .github/workflows/actionlint.yml
  .github/workflows/auto-label-sync.yml
  .github/workflows/auto-labeler.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage.yml
  .github/workflows/docker-image-scan.yml
  .github/workflows/dockerfilelint.yml
  .github/workflows/eslint.yml
  .github/workflows/license.yml
  .github/workflows/prettier.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: improvement, workflow (gh-actions)

#619 fix: バージョンの読み取り先を `package.json` へ変更
  Dockerfile
  package.json
  src/adaptor/version/fetch.ts
  tsconfig.json
Labels: bug, improvement

#622 fix: import assertion の追加
  src/adaptor/version/fetch.ts
  tsconfig.json
Labels: bug

#620 ci: 動かないスキャン CI を修正
  .github/workflows/docker-image-scan.yml
Labels: workflow (gh-actions)

#621 feat: あっぱれおじゃる様ミーム構文の追加
  src/service/command/meme/index.ts
  src/service/command/meme/ojaru.ts
  src/service/command/meme/test/ojaru.test.ts
Labels: enhancement

#625 ci: Trivy Scan CIのWorkflow Nameを正常なものに修正
  .github/workflows/docker-image-scan.yml
Labels: workflow (gh-actions)

#629 chore: release-please のコンフィグを追加
  release-please-config.json
Labels: bug

#631 ci: release-please の manifest コマンドを使用するように切り替え
  .github/workflows/release.yml
  .release-please-manifest.json
  release-please-config.json
Labels: workflow (gh-actions)

#633 build: packages の指定を追加
  release-please-config.json
Labels: bug

#638 fix(build): tini の差し戻し
  Dockerfile
Labels: bug, high

#647 ci(fix): Dependabot のコミットに対する Trivy CI が失敗してしまう問題の修正
  .github/workflows/docker-image-scan.yml
Labels: bug, workflow (gh-actions)

#648 feat: 人は話し方が9割ジェネレーターの追加
  src/service/command/meme/index.ts
  src/service/command/meme/nine.ts
  src/service/command/meme/test/dousurya.test.ts
  src/service/command/meme/test/nine.test.ts
Labels: enhancement

#651 ci: CIの改善
  .github/actions/publish/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/auto-label-sync.yml
  .github/workflows/auto-labeler.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage.yml
  .github/workflows/docker-image-scan.yml
  .github/workflows/dockerfilelint-else.yml
  .github/workflows/dockerfilelint.yml
  .github/workflows/eslint.yml
  .github/workflows/license.yml
  .github/workflows/prettier.yml
  .github/workflows/test-else.yml
  .github/workflows/test.yml
Labels: improvement, workflow (gh-actions)

#655 chore: renovate のタイムゾーンを明確に
  .github/renovate.json
Labels: improvement
