Repository approvers/OreOreBot2, pull requests merged in 2022-06, with the labels that each got.

#225 feat: `typo by` コマンドの追加
  src/service/typo-record.test.ts
  src/service/typo-record.ts
Labels: enhancement

#233 ci: "on push tag" の差し戻し
  .github/workflows/release.yml
Labels: workflows

#242 chore: Bump discord.js packages
  package.json
  yarn.lock
Labels: dependencies

#243 fix: 依存関係の更新と微修正
  package.json
  src/adaptor/message-proxy.ts
  src/adaptor/role-proxy.ts
  yarn.lock
Labels: dependencies

#244 refactor: 引数が多い記述のリファクタ
  .eslintrc.yml
  src/model/reservation.test.ts
  src/model/reservation.ts
  src/server/index.ts
  src/service/index.ts
  src/service/judging.ts
  src/service/kaere.test.ts
  src/service/kaere.ts
  src/service/party.test.ts
  src/service/party.ts
Labels: refactoring

#252 fix: Revert "feat: 限界ポイントロールをかわえもんから自動で外すように (#234)"
  src/service/kawaemon-has-all-roles.test.ts
  src/service/kawaemon-has-all-roles.ts
Labels: bug

#257 feat: help コマンドをページめくりできるように
  src/adaptor/transformer/message-convert.ts
  src/model/embed-message.ts
  src/service/command-message.ts
  src/service/help.ts
Labels: enhancement

#255 feat: version コマンドを追加
  package.json
  src/adaptor/version/fetch.ts
  src/server/index.ts
  src/service/index.ts
  src/service/version.ts
Labels: enhancement

#284 build: build ディレクトリが無いときのビルド失敗を修正
  package.json
  yarn.lock
Labels: bug

#286 chore: `yarn setup` の削除
  package.json
Labels: bug

#295 feat: EmojiSeq の追加
  assets/emoji-seq.yaml
  package.json
  src/adaptor/emoji-seq-loader.ts
  src/adaptor/transformer/message-convert.ts
  src/model/emoji-seq.test.ts
  src/model/emoji-seq.ts
  src/server/index.ts
  src/service/emoji-seq-react.test.ts
  src/service/emoji-seq-react.ts
  src/service/index.ts
Labels: enhancement, dependencies
