Repository approvers/OreOreBot2, pull requests merged in 2022-05, with the labels that each got.

#152 docs: OreOreBot2 Discussionについてをドキュメントに追加
  README.md
Labels: documentation

#154 docs: codecovのbadge追加
  README.md
Labels: documentation

#166 docs: Issue / Pull Request Templateの修正
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/custom-issue.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/pull_request_template.md
Labels: enhancement

#169 ci: CodeQLの問題を修正
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Labels: bug, workflows

#156 fix: テストカバレッジの改善
  src/adaptor/clock.ts
  src/model/reservation.test.ts
  src/runner/schedule.ts
  src/service/typo-record.test.ts
Labels: improvement, refactoring

#168 fix: ゲリラ失敗時に登録を解除するように
  src/service/party.test.ts
  src/service/party.ts
Labels: bug, Type: Party

#180 ci: リリース CI の実行条件を修正
  .github/workflows/release.yml
Labels: workflows

#181 ci: リリース CI の実行条件を schedule に変更
  .github/workflows/release.yml
Labels: workflows

#184 fix: [critical] ファイル名の修正
  src/adaptor/discord-sheriff.ts
  src/service/index.ts
  src/service/stfu.test.ts
  src/service/stfu.ts
Labels: bug, Type: はらちょ粛清

#183 chore(action): add actionlint.yml
  .github/workflows/actionlint.yml
Labels: workflows

#199 fix(ci): ファイルのパスを修正
  .github/labels.yml
  .github/workflows/auto-label-sync.yml
Labels: workflows, 👀 needs review 👀

#208 feat: stfu にて削除後にリアクションするように変更
  src/adaptor/transformer/message-convert.ts
  src/service/command-message.ts
  src/service/stfu.test.ts
  src/service/stfu.ts
Labels: enhancement, Type*はらちょ粛清, 👀 needs review 👀

#210 refactor: 服役システムを Meme としてリファクタ
  package.json
  src/model/meme-template.ts
  src/service/hukueki.ts
  src/service/index.ts
  src/service/meme.test.ts
  src/service/meme.ts
  src/service/meme/dousurya.ts
  src/service/meme/hukueki.ts
  src/service/meme/lolicon.ts
  src/service/meme/n.ts
  src/service/meme/takopi.ts
  src/typings/cli-argparse.d/index.d.ts
  tsconfig.json
  yarn.lock
Labels: Type*服役, refactoring, 👀 needs review 👀

#209 ci: Label系CIの廃止
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/auto-add-review-lebel.yml
  .github/workflows/auto-add-wip-lebel.yml
  .github/workflows/auto-remove-priority-label.yml
  package.json
Labels: workflows

#211 fix: dousureba も dousurya として扱うように修正
  src/service/meme.test.ts
  src/service/meme/dousurya.ts
Labels: bug, priority:Critical

#212 ci: リリース CI のタグによる実行条件を `latest` に変更
  .github/workflows/release.yml
Labels: workflows

#141 feat: 絵文字ログの追加
  src/adaptor/emoji-proxy.ts
  src/runner/emoji.ts
  src/runner/index.ts
  src/server/index.ts
  src/service/emoji-log.test.ts
  src/service/emoji-log.ts
  src/service/index.ts
Labels: enhancement

#221 ci: CodeQL 解析のワークフローの最適化
  .github/workflows/codeql-analysis.yml
Labels: workflows
