Repository approvers/OreOreBot2, pull requests merged in 2022-01, with the labels that each got.

#3 [fix] セミコロンを必須化する
  .eslintrc.yml
  .prettierrc
Labels: enhancement

#5 見てたぞ機能の追加
  src/adaptor/index.ts
  src/adaptor/message-proxy.ts
  src/adaptor/observable.ts
  src/runner/message.ts
  src/server/index.ts
  src/service/deletion-repeater.ts
  src/service/index.ts
  yarn.lock
Labels: enhancement

#23 完全に動作しない不具合の修正
  package.json
  src/adaptor/message-proxy.ts
  src/adaptor/observable.ts
  src/adaptor/voice-room-proxy.ts
  src/server/index.ts
Labels: bug

#24 Create CI
  .github/workflows/eslint.yml
  .github/workflows/prettier.yml
  package.json
Labels: workflows

#25 今日の Typo 一覧機能
  src/adaptor/clock.ts
  src/adaptor/embed-convert.ts
  src/adaptor/in-memory-typo.ts
  src/adaptor/index.ts
  src/adaptor/message-convert.ts
  src/adaptor/message-proxy.ts
  src/adaptor/observable.ts
  src/model/embed-message.ts
  src/model/id.ts
  src/runner/schedule.ts
  src/server/index.ts
  src/service/command-message.ts
  src/service/index.ts
  src/service/typo-record.ts
Labels: enhancement
