Repository approvers/OreOreBot2, pull requests merged in 2022-07, with the labels that each got.

#301 chore: 磯崎キリトのEmoji Seqを追加
  assets/emoji-seq.yaml
Labels: improvement

#314 docs: ファイル名に関するルールを追加
  .github/CONTRIBUTING.md
Labels: documentation

#316 chore: Husky ファイルのマイグレーション
  .husky/pre-commit
  package.json
Labels: dependencies

#315 docs: issue close keywordを追加
  .github/ISSUE_TEMPLATE/custom-issue.md
  .github/pull_request_template.md
Labels: documentation

#322 feat: 逃げたねコピペ構文の追加
  src/service/meme.ts
  src/service/meme/nigetane.ts
Labels: enhancement

#333 fix: Discord.js を v14 へ更新
  package.json
  src/adaptor/discord/message-repo.ts
  src/adaptor/discord/output.ts
  src/adaptor/discord/sheriff.ts
  src/adaptor/discord/voice.ts
  src/adaptor/embed-convert.ts
  src/adaptor/transformer/message-convert.ts
  src/server/index.ts
  yarn.lock
Labels: dependencies

#337 chore: 余分な末尾スペースの除去
  assets/emoji-seq.yaml
Labels: improvement

#340 fix: 不完全なサニタイズの修正
  src/service/meme.test.ts
  src/service/meme.ts
Labels: bug

#339 feat: ロール数ランキングの追加
  src/adaptor/discord/member-stats.ts
  src/server/index.ts
  src/service/index.ts
  src/service/role-rank.test.ts
  src/service/role-rank.ts
Labels: enhancement

#344 feat: いちばんやさしいWeb3の教本のMEMEを追加
  src/service/meme.test.ts
  src/service/meme.ts
  src/service/meme/web3.ts
Labels: enhancement

#251 feat: avoid echo back when `!stfu` was deleted
  src/service/deletion-repeater.test.ts
  src/service/deletion-repeater.ts
  src/service/index.ts
Labels: improvement

#356 fix: extractEnv の型の修正
  src/server/extract-env.ts
Labels: bug, refactoring

#355 feat: PREFIX 環境変数でボットの接頭辞を変えられるように
  README.md
  src/server/index.ts
Labels: enhancement

#354 feat: roleinfo コマンドの追加
  src/adaptor/discord/role.ts
  src/server/index.ts
  src/service/command.ts
  src/service/command/role-info.test.ts
  src/service/command/role-info.ts
Labels: enhancement

#359 feat: FEATURE 環境変数で Runner の動作を制御できるように
  README.md
  src/server/index.ts
Labels: enhancement

#360 doc: CONTRIBUTING の改訂
  .github/CONTRIBUTING.md
Labels: documentation

#362 ci: GitHub Container Registry のセットアップ
  .github/workflows/release.yml
  Dockerfile
Labels: workflows

#363 fix: 空のメッセージに反応するバグを修正
  src/adaptor/proxy/transformer/message-convert.ts
Labels: bug

#364 feat: stfu で削除個数を指定できるように
  src/adaptor/discord/sheriff.ts
  src/service/command/stfu.test.ts
  src/service/command/stfu.ts
Labels: enhancement
