Repository approvers/OreOreBot2, pull requests merged in 2022-09, with the labels that each got.

#442 ci: ライセンスチェッカーの追加
  .github/workflows/license.yml
  Dockerfile
  README.md
  package.json
  yarn.lock
Labels: workflows

#443 build: Fix ffmpeg installation
  Dockerfile
Labels: bug

#446 ci: hadolintによるDockerfileのIint CIを追加
  .github/workflows/dockerfilelint-else.yml
  .github/workflows/dockerfilelint.yml
Labels: workflows, docker

#448 ci: else のワークフロー名の修正
  .github/workflows/dockerfilelint-else.yml
Labels: workflows

#447 fix: 同じメッセージが編集されたかどうかのチェックを追加
  src/adaptor/proxy/middleware.ts
Labels: bug, enhancement

#450 fix: 大文字のHEXを指定した際にロールが正しく作成できない問題の修正
  src/service/command/role-create.test.ts
  src/service/command/role-create.ts
Labels: bug

#462 ci: リリース時にタグを取得するように修正
  .github/workflows/release.yml
Labels: bug, workflows

#465 build: GIT_TAG 引数を用いてバージョンファイルを生成
  Dockerfile
Labels: bug, docker

#466 docs: セキュリティポリシーを追加
  SECURITY.md
Labels: documentation

#479 refactor: スキーマを利用した新コマンドシステム
  .github/CONTRIBUTING.md
  src/adaptor/proxy/command.ts
  src/adaptor/proxy/command/schema.test.ts
  src/adaptor/proxy/command/schema.ts
  src/adaptor/proxy/middleware.ts
  src/adaptor/proxy/middleware/message-convert.ts
  src/model/command-schema.ts
  src/runner/command.ts
  src/server/index.ts
  src/service/command.ts
  src/service/command/command-message.ts
  src/service/command/debug.test.ts
  src/service/command/debug.ts
  src/service/command/guild-info.test.ts
  src/service/command/guild-info.ts
  src/service/command/help.ts
  src/service/command/judging.test.ts
  src/service/command/judging.ts
  src/service/command/kaere.test.ts
  src/service/command/kaere.ts
  src/service/command/kokusei-chousa.test.ts
  src/service/command/kokusei-chousa.ts
  src/service/command/meme.test.ts
  src/service/command/meme.ts
  src/service/command/party.test.ts
  src/service/command/party.ts
  src/service/command/ping.ts
  src/service/command/role-create.test.ts
  src/service/command/role-create.ts
  src/service/command/role-info.test.ts
  src/service/command/role-info.ts
  src/service/command/role-rank.test.ts
  src/service/command/role-rank.ts
  src/service/command/stfu.test.ts
  src/service/command/stfu.ts
  src/service/command/typo-record.test.ts
  src/service/command/typo-record.ts
  src/service/command/user-info.test.ts
  src/service/command/user-info.ts
  src/service/command/version.ts
Labels: enhancement, improvement, design

#485 feat: diffと削除のメッセージを一定時間後に削除
  src/adaptor/proxy/middleware/message-convert.ts
  src/server/index.ts
  src/service/deletion-repeater.test.ts
  src/service/deletion-repeater.ts
  src/service/difference-detector.test.ts
  src/service/difference-detector.ts
Labels: enhancement, improvement

#493 build: dockerArgs の追加
  .releaserc.json
Labels: bug

#473 feat: ダイスコマンドの作成(仮あん)
  src/adaptor/random.ts
  src/server/index.ts
  src/service/command.ts
  src/service/command/dice.test.ts
  src/service/command/dice.ts
Labels: enhancement
