Repository approvers/OreOreBot2, pull requests merged in 2022-04, with the labels that each got.

#113 fix: CodeQL AnalysisがTypeScriptに対してのみ走るように
  .github/workflows/codeql-analysis.yml
Labels: bug, workflows

#112 docs: Jestのドキュメントへのリンクがぶっ壊れているので修正
  CONTRIBUTING.md
Labels: documentation

#115 ci: Dependabot のターゲットブランチを修正
  .github/dependabot.yml
Labels: bug

#129 import文の最適化
  src/adaptor/role-proxy.ts
  src/runner/index.ts
  src/server/index.ts
  src/service/bold-italic-cop.ts
  src/service/index.ts
  src/service/kawaemon-has-all-roles.ts
Labels: refactoring

#130 docs: CONTRIBUTING の typo を修正
  CONTRIBUTING.md
Labels: documentation

#136 `yarn fix` が正しく利用できない問題の修正
  package.json
Labels: bug

#135 issue/pull request Templateを作成
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/custom-issue.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: documentation

#144 feat: Nった
  src/service/hukueki.test.ts
  src/service/hukueki.ts
Labels: enhancement

#145 fix: 引数が足りていないのに処理しようとする問題の修正
  src/service/hukueki.test.ts
  src/service/hukueki.ts
Labels: bug, Type: 服役

#146 fix: pull request templateが正しく動かない問題の修正
  .github/CONTRIBUTING.md
  .github/pull_request_template.md
  README.md
Labels: bug

#149 ci: コードカバレッジ計測と codecov のセットアップ
  .github/workflows/coverage.yml
  package.json
Labels: workflows

#151 ci: Hotfix on type
  .github/workflows/coverage.yml
Labels: bug, workflows

#153 feat: 邪魔な `て` を削除
  src/service/hukueki.test.ts
  src/service/hukueki.ts
Labels: Type: 服役, improvement
