Repository approvers/OreOreBot2, pull requests merged in 2022-08, with the labels that each got.

#370 ci: Jest の部分を Test へ変更
  .github/workflows/test-else.yml
  .github/workflows/test.yml
  README.md
Labels: workflows

#374 fix: Transformer による実装を変換処理のチェーンへと変更
  src/adaptor/proxy.ts
  src/adaptor/proxy/message.ts
  src/adaptor/proxy/middleware.ts
  src/adaptor/proxy/middleware/bot-filter.ts
  src/adaptor/proxy/middleware/message-convert.ts
  src/adaptor/proxy/transformer.ts
  src/adaptor/proxy/transformer/bot-filter.ts
  src/adaptor/proxy/transformer/tuple.ts
  src/server/index.ts
Labels: bug

#373 chore: はらちょのバージョン記載欄を追加
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: documentation

#380 feat: 燃えたmemeの追加
  src/service/command/meme.test.ts
  src/service/command/meme.ts
  src/service/command/meme/moeta.ts
Labels: enhancement

#375 feat: ユーザー情報コマンドの追加
  src/adaptor/discord/member-stats.ts
  src/server/index.ts
  src/service/command.ts
  src/service/command/user-info.test.ts
  src/service/command/user-info.ts
Labels: enhancement

#381 refactor: meme のimport文を不要に
  README.md
  package.json
  src/service/command/meme.ts
  src/service/command/meme/index.ts
Labels: documentation, improvement

#383 fix: Guild の available フィールドを確認するように修正
  src/adaptor/discord/member-stats.ts
  src/adaptor/discord/role.ts
  src/adaptor/discord/voice.ts
Labels: bug

#385 feat: 複数の新しいEmoji Seqを追加
  assets/emoji-seq.yaml
Labels: enhancement

#393 chore: ラベル「need more hibkiness」の追加
  .github/labels.yml
Labels: improvement

#392 feat: ギルド情報参照コマンドの追加
  src/adaptor/discord/member-stats.ts
  src/model/create-timestamp.ts
  src/server/index.ts
  src/service/command.ts
  src/service/command/guild-info.test.ts
  src/service/command/guild-info.ts
  src/service/command/user-info.test.ts
  src/service/command/user-info.ts
Labels: enhancement

#384 ci: Docker のリリース部分の修正
  .github/workflows/release.yml
  .releaserc.json
  package.json
  yarn.lock
Labels: workflows

#398 fix(ci): semantic-releaseのDocker認証エラーを修正
  .github/workflows/release.yml
Labels: bug, workflows

#405 chore: dependabot version updatesの監視下にDockerのイメージを追加
  .github/dependabot.yml
Labels: improvement

#416 feat: VersionEmbedのデザインを変更
  src/service/command/version.ts
Labels: improvement

#418 chore(deps): Docker イメージのビルド依存関係の更新
  Dockerfile
Labels: bug, dependencies

#419 chore: 絵文字Seqの調整
  assets/emoji-seq.yaml
Labels: improvement

#417 feat: ロールの作成コマンドを追加
  src/adaptor/discord/role.ts
  src/server/index.ts
  src/service/command.ts
  src/service/command/role-create.test.ts
  src/service/command/role-create.ts
Labels: enhancement
