Repository approvers/OreOreBot2, pull requests merged in 2023-09, with the labels that each got.

#1028 feat: ようこそメッセージの追加
  .env.example
  README.md
  src/adaptor/discord/output.ts
  src/adaptor/proxy/member.ts
  src/runner/member.ts
  src/server/index.ts
  src/service/index.ts
  src/service/output.ts
  src/service/welcome-message.test.ts
  src/service/welcome-message.ts
Labels: T-OreOreBot2

#1063 ci: リリースCIのマニフェストを修正
  .github/workflows/release.yml
  .release-please-manifest.json
  release-please-config.json
Labels: C-GitHub Actions

#1070 fix: バージョンコマンドで使用されるリリースへのURLを修正
  packages/bot/src/service/command/version.ts
Labels: T-OreOreBot2

#1072 docs: CONTRIBUTING.md の改定
  .github/CONTRIBUTING.md
  packages/bot/README.md
Labels: T-OreOreBot2

#1075 ci(fix): リリースPRマージ後のCIで "Publish the Docker package" が実行されない問題の修正
  .github/workflows/release.yml
Labels: C-GitHub Actions

#1085 docs: ページ編集ボタンのリンクを新しいものに変更する
  packages/docs/theme.config.tsx
Labels: T-Documents

#1086 docs(fix): 間違っているパーティーのBGM IDを修正
  packages/docs/src/pages/references/commands/voice/party.mdx
Labels: T-Documents

#1088 fix: Party一葉のBGMを均一化
  packages/bot/assets/party/coffin-drop.mp3
  packages/bot/assets/party/kakapo.mp3
  packages/bot/assets/party/kakusin-daisuke.mp3
  packages/bot/assets/party/potato.mp3
Labels: T-OreOreBot2

#1074 test: コマンド登録処理の整理とテスト追加
  packages/bot/src/adaptor/discord/command-repo.ts
  packages/bot/src/runner/command.ts
  packages/bot/src/server/index.ts
  packages/bot/src/service/command/register.test.ts
  packages/bot/src/service/command/register.ts
  packages/bot/src/service/command/register/command-schema.ts
Labels: C-bug, C-cleanup

#1093 refactor: CommandResponder を runner へ移動
  packages/bot/src/adaptor/proxy/command.ts
  packages/bot/src/runner/command.ts
  packages/bot/src/service/command.ts
  packages/bot/src/service/command/channel-info.ts
  packages/bot/src/service/command/command-message.ts
  packages/bot/src/service/command/debug.ts
  packages/bot/src/service/command/dice.ts
  packages/bot/src/service/command/guild-info.ts
  packages/bot/src/service/command/gyokuon.ts
  packages/bot/src/service/command/help.ts
  packages/bot/src/service/command/judging.ts
  packages/bot/src/service/command/kaere.ts
  packages/bot/src/service/command/kokusei-chousa.ts
  packages/bot/src/service/command/meme.ts
  packages/bot/src/service/command/party.ts
  packages/bot/src/service/command/ping.ts
  packages/bot/src/service/command/register.test.ts
  packages/bot/src/service/command/role-create.ts
  packages/bot/src/service/command/role-info.ts
  packages/bot/src/service/command/role-rank.ts
  packages/bot/src/service/command/stfu.ts
  packages/bot/src/service/command/typo-record.ts
  packages/bot/src/service/command/user-info.ts
  packages/bot/src/service/command/version.ts
Labels: C-cleanup, T-@oreorebot2/bot
