Repository approvers/OreOreBot2, pull requests merged in 2023-02, with the labels that each got.

#698 ci: ラベルの大幅な更新
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  .github/labels.yml
  .github/renovate.json
Labels: improvement

#700 fix: 引数の型を EmojiEvent に修正
  src/service/emoji-log.ts
Labels: C-bug

#710 ci: Docker パッケージの作成 CI の修正
  .github/actions/publish/action.yml
Labels: C-improvement, P-high

#711 ci: 不正なイメージ名の除去
  .github/actions/publish/action.yml
Labels: C-bug

#712 feat: コンピューターの天才、9つのC言語を操る のMEMEを追加
  src/service/command/meme/clang.ts
  src/service/command/meme/index.ts
  src/service/command/meme/test/clang.test.ts
Labels: C-enhancement

#713 feat: 首相の否定的な考えMEMEを追加
  .github/FUNDING.yml
  src/service/command/meme/index.ts
  src/service/command/meme/syakai.ts
  src/service/command/meme/test/syakai.test.ts
Labels: C-enhancement

#715 ci: Docker イメージのタグを修正
  .github/actions/publish/action.yml
Labels: C-bug, C-GitHub Actions

#717 ci: husky install の修正
  package.json
Labels: C-bug, C-development

#718 build: pinst を用いた husky install の無効化
  Dockerfile
Labels: C-bug

#725 build: Dockerfile の修正
  .dockerignore
  Dockerfile
Labels: C-bug

#723 feat: チャンネル情報参照コマンドの追加
  src/adaptor/discord/channel.ts
  src/model/channel.ts
  src/server/index.ts
  src/service/command.ts
  src/service/command/channel-info.test.ts
  src/service/command/channel-info.ts
Labels: C-enhancement

#728 chore: Procfile の削除
  Procfile
Labels: C-cleanup

#734 fix: 空の編集イベントに反応しないように修正
  src/service/difference-detector.test.ts
  src/service/difference-detector.ts
Labels: C-bug

#740 docs: CONTRIBUTING の更新
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: C-development

#742 feat: 共同通信の記者MEME の追加
  src/service/command/meme/failure.ts
  src/service/command/meme/index.ts
  src/service/command/meme/test/failure.test.ts
Labels: C-enhancement

#746 feat: 共同通信記者の発言の "失敗" の部分を変えられるオプションを追加
  src/service/command/meme/failure.ts
  src/service/command/meme/test/failure.test.ts
Labels: C-enhancement

#749 fix: Meme における位置引数のサポートとリファクタ
  package.json
  src/model/meme-template.ts
  src/service/command/meme.test.ts
  src/service/command/meme.ts
  src/service/command/meme/clang.ts
  src/service/command/meme/dousurya.ts
  src/service/command/meme/failure.ts
  src/service/command/meme/hukueki.ts
  src/service/command/meme/kenjou.ts
  src/service/command/meme/koume.ts
  src/service/command/meme/lolicon.ts
  src/service/command/meme/moeta.ts
  src/service/command/meme/n.ts
  src/service/command/meme/nigetane.ts
  src/service/command/meme/nine.ts
  src/service/command/meme/ojaru.ts
  src/service/command/meme/syakai.ts
  src/service/command/meme/takopi.ts
  src/service/command/meme/test/lolicon.test.ts
  src/service/command/meme/tsureteike.ts
  src/service/command/meme/web3.ts
  src/typings/cli-argparse.d/index.d.ts
  yarn.lock
Labels: C-security, C-enhancement, C-improvement, C-development, P-high, dependencies

#751 fix: エラーを一度しか出さないように修正
  src/service/command/meme.test.ts
  src/service/command/meme.ts
Labels: C-bug

#752 feat: クライアントユーザーのアクティビティ欄にバージョンを表示するように
  src/server/index.ts
Labels: C-enhancement, C-cleanup

#755 feat: ヘルプ埋め込みからドキュメントサイトのリファレンスに飛べるように
  src/model/meme-template.ts
  src/service/command/channel-info.ts
  src/service/command/command-message.ts
  src/service/command/debug.ts
  src/service/command/dice.ts
  src/service/command/guild-info.ts
  src/service/command/gyokuon.ts
  src/service/command/help.ts
  src/service/command/judging.ts
  src/service/command/kaere.ts
  src/service/command/kokusei-chousa.ts
  src/service/command/meme.ts
  src/service/command/meme/clang.ts
  src/service/command/meme/dousurya.ts
  src/service/command/meme/failure.ts
  src/service/command/meme/hukueki.ts
  src/service/command/meme/kenjou.ts
  src/service/command/meme/koume.ts
  src/service/command/meme/lolicon.ts
  src/service/command/meme/moeta.ts
  src/service/command/meme/n.ts
  src/service/command/meme/nigetane.ts
  src/service/command/meme/nine.ts
  src/service/command/meme/ojaru.ts
  src/service/command/meme/syakai.ts
  src/service/command/meme/takopi.ts
  src/service/command/meme/tsureteike.ts
  src/service/command/meme/web3.ts
  src/service/command/party.ts
  src/service/command/ping.ts
  src/service/command/role-create.ts
  src/service/command/role-info.ts
  src/service/command/role-rank.ts
  src/service/command/stfu.ts
  src/service/command/typo-record.ts
  src/service/command/user-info.ts
  src/service/command/version.ts
Labels: C-enhancement

#757 ci: import のソート戦略を改善
  .eslintrc.yml
  .prettierrc
  package.json
  src/adaptor/discord/member-stats.ts
  src/adaptor/discord/voice.ts
  src/adaptor/proxy/command.ts
  src/adaptor/proxy/command/schema.ts
  src/server/index.ts
  src/service/command/typo-record.test.ts
  yarn.lock
Labels: C-improvement, C-development, P-high, dependencies

#756 feat: 新時報システムの追加
  assets/time-signal.yaml
  package.json
  src/adaptor/clock.ts
  src/adaptor/proxy/middleware/message-convert.ts
  src/adaptor/signal-schedule.ts
  src/runner/schedule.ts
  src/server/index.ts
  src/service/time-signal.test.ts
  src/service/time-signal.ts
  yarn.lock
Labels: C-enhancement
