Repository approvers/OreOreBot2, pull requests merged in 2023-08, with the labels that each got.

#928 feat: ユーザー情報としてユーザーのアバターをサポートするように
  src/adaptor/discord/member-stats.ts
  src/service/command/user-info.test.ts
  src/service/command/user-info.ts
Labels: C-enhancement

#930 ci: リリース制御に非公開ボットアカウント higuchi-ichiyo を使用
  .github/workflows/release.yml
Labels: C-GitHub Actions

#931 feat: チャンネル情報コマンドを引数なしで実装した際送信元のチャンネル情報を表示するように
  src/service/command/channel-info.test.ts
  src/service/command/channel-info.ts
Labels: C-enhancement

#935 docs: ドキュメントの齟齬、内容の修正
  docs/next.config.js
  docs/public/images/bold-old.jpg
  docs/public/images/bold-oldharacho.jpg
  docs/public/images/bold.jpg
  docs/public/images/gif/emoji-id.gif
  docs/public/images/meme.jpg
  docs/public/images/sponsor.jpg
  docs/src/pages/_meta.json
  docs/src/pages/development/emoji-seq.mdx
  docs/src/pages/development/index.mdx
  docs/src/pages/development/meme.mdx
  docs/src/pages/references/commands/_meta.json
  docs/src/pages/references/commands/channel-info.mdx
  docs/src/pages/references/commands/debug.mdx
  docs/src/pages/references/commands/dice.mdx
  docs/src/pages/references/commands/guild-info.mdx
  docs/src/pages/references/commands/help.mdx
  docs/src/pages/references/commands/judge.mdx
  docs/src/pages/references/commands/kokusei.mdx
  docs/src/pages/references/commands/meme/_meta.json
  docs/src/pages/references/commands/meme/clang.mdx
  docs/src/pages/references/commands/meme/dousurya.mdx
  docs/src/pages/references/commands/meme/failure.mdx
  docs/src/pages/references/commands/meme/hukueki.mdx
  docs/src/pages/references/commands/meme/kenjou.mdx
  docs/src/pages/references/commands/meme/koume.mdx
  docs/src/pages/references/commands/meme/lolicon.mdx
  docs/src/pages/references/commands/meme/moeta.mdx
  docs/src/pages/references/commands/meme/n.mdx
  docs/src/pages/references/commands/meme/nigetane.mdx
  docs/src/pages/references/commands/meme/nine.mdx
  docs/src/pages/references/commands/meme/ojaru.mdx
  docs/src/pages/references/commands/meme/syakai.mdx
  docs/src/pages/references/commands/meme/takopi.mdx
  docs/src/pages/references/commands/meme/tsureteike.mdx
  docs/src/pages/references/commands/meme/web3.mdx
  docs/src/pages/references/commands/ping.mdx
  docs/src/pages/references/commands/role-create.mdx
  docs/src/pages/references/commands/role-info.mdx
  docs/src/pages/references/commands/role-rank.mdx
  docs/src/pages/references/commands/stfu.mdx
  docs/src/pages/references/commands/typo.mdx
  docs/src/pages/references/commands/user-info.mdx
  docs/src/pages/references/commands/version.mdx
  docs/src/pages/references/commands/voice/_meta.json
  docs/src/pages/references/commands/voice/colk.mdx
  docs/src/pages/references/commands/voice/kaere.mdx
  docs/src/pages/references/commands/voice/party.mdx
  docs/src/pages/references/features/bold-italic.mdx
  docs/src/pages/references/features/delete-diff.mdx
  docs/src/pages/references/features/edit-diff.mdx
  docs/src/pages/references/features/emoji-create-log.mdx
  docs/src/pages/references/features/kawaemon.mdx
  docs/src/pages/references/features/time-signal.mdx
  docs/src/pages/references/features/typo.mdx
  docs/src/pages/references/features/vc-diff.mdx
  docs/theme.config.tsx
Labels: T-Documents

#936 feat: こるくの玉音放送縮小版を追加
  assets/gyokuon/gyokuon-short.mp3
  docs/src/pages/references/commands/voice/colk.mdx
  src/server/index.ts
  src/service/command/gyokuon.test.ts
  src/service/command/gyokuon.ts
Labels: C-enhancement, T-OreOreBot2, T-Documents

#938 chore: glob パターンを文字列として渡すように修正
  docs/package.json
  docs/src/pages/references/commands/channel-info.mdx
  docs/src/pages/references/commands/dice.mdx
  docs/src/pages/references/commands/meme/index.mdx
  docs/src/pages/references/commands/meme/takopi.mdx
  docs/src/pages/references/commands/meme/tsureteike.mdx
  docs/src/pages/references/commands/meme/web3.mdx
  docs/src/pages/references/commands/role-info.mdx
  docs/src/pages/references/commands/stfu.mdx
  docs/src/pages/references/commands/user-info.mdx
  docs/src/pages/references/commands/version.mdx
  docs/src/pages/references/commands/voice/party.mdx
  docs/src/pages/references/features/edit-diff.mdx
  docs/src/pages/references/features/kawaemon.mdx
  docs/src/pages/references/features/time-signal.mdx
  docs/src/pages/references/features/typo.mdx
  docs/src/pages/references/features/vc-diff.mdx
Labels: T-Documents

#954 docs: コードブロックのファイル名が表示されない問題の修正
  docs/src/pages/development/emoji-seq.mdx
  docs/src/pages/development/meme.mdx
Labels: C-bug, T-Documents

#959 fix: 再接続の制御を除去
  src/adaptor/discord/voice.ts
  src/service/command/gyokuon.ts
  src/service/command/kaere.ts
  src/service/command/party.ts
  src/service/voice-connection.ts
Labels: C-bug, T-OreOreBot2

#960 feat: スラッシュコマンドのハンドリング処理を追加
  src/adaptor/proxy/command.ts
  src/adaptor/proxy/command/slash.test.ts
  src/adaptor/proxy/command/slash.ts
  src/adaptor/proxy/middleware/message-convert.ts
  src/model/id.ts
Labels: C-enhancement, T-OreOreBot2

#974 feat: スラッシュコマンドの対応
  .env.example
  README.md
  package.json
  src/adaptor/command-schema.ts
  src/adaptor/proxy/command.ts
  src/adaptor/proxy/command/schema.test.ts
  src/adaptor/proxy/command/slash.test.ts
  src/adaptor/proxy/command/slash.ts
  src/model/command-schema.ts
  src/server/index.ts
  src/service/command/channel-info.ts
  src/service/command/debug.ts
  src/service/command/dice.ts
  src/service/command/guild-info.ts
  src/service/command/gyokuon.ts
  src/service/command/help.ts
  src/service/command/judging.ts
  src/service/command/kaere.ts
  src/service/command/kokusei-chousa.ts
  src/service/command/meme.ts
  src/service/command/party.ts
  src/service/command/ping.ts
  src/service/command/role-create.ts
  src/service/command/role-info.ts
  src/service/command/role-rank.ts
  src/service/command/stfu.ts
  src/service/command/typo-record.ts
  src/service/command/user-info.ts
  src/service/command/version.ts
  yarn.lock
Labels: T-OreOreBot2

#975 docs: スラッシュコマンド形式の詳細を追加
  docs/src/pages/references/_meta.json
  docs/src/pages/references/commands/_meta.json
  docs/src/pages/references/commands/meme/_meta.json
  docs/src/pages/references/commands/voice/_meta.json
  docs/src/pages/references/getting-started.mdx
Labels: T-Documents

#979 fix: 選択肢のパース処理の修正
  src/adaptor/proxy/command/slash.test.ts
  src/adaptor/proxy/command/slash.ts
Labels: C-bug, T-OreOreBot2

#982 docs: faviconの追加
  .github/FUNDING.yml
  docs/public/assets/favicon-16x16.png
  docs/public/assets/favicon-32x32.png
  docs/public/assets/favicon.ico
  docs/public/assets/favicon.svg
  docs/theme.config.tsx
Labels: T-Documents

#983 fix: user-info の説明文の誤植を修正
  src/service/command/user-info.ts
Labels: C-bug, T-OreOreBot2
