Repository approvers/OreOreBot2, pull requests merged in 2023-12, with the labels that each got.

#1202 ci: Fix docker publish condition
  .github/workflows/release.yml
Labels: C-GitHub Actions

#1221 fix(ci): fix problem with incorrect tagValue passed by release-please
  .github/workflows/release.yml
Labels: C-bug, C-GitHub Actions

#1222 ci: release-please reusing publish-ci
  .github/actions/publish/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Labels: C-bug, C-GitHub Actions

#1223 ci: Publishワークフローの修正
  .github/workflows/publish.yml
  .github/workflows/release.yml
Labels: C-bug, C-GitHub Actions

#1225 ci: publish の checkout に ref オプションを追加して inputs.sha を指定
  .github/workflows/publish.yml
Labels: C-GitHub Actions

#1228 build: bot の workspace のビルド成果物の展開と起動を修正
  Dockerfile
Labels: T-@oreorebot2/common

#1230 build: bot パッケージのディレクトリを WORKDIR に指定
  Dockerfile
Labels: T-@oreorebot2/common

#1232 docs: update require environment info
  packages/docs/src/pages/development/emoji-seq.mdx
  packages/docs/src/pages/development/meme.mdx
  packages/docs/src/pages/development/running/index.mdx
Labels: T-@oreorebot2/bot, T-@oreorebot2/docs
