Repository approvers/OreOreBot2, pull requests merged in 2023-01, with the labels that each got.

#662 chore: OreOreBot2 のパッケージマネージャーを yarn v3 に移行する
  .github/actions/publish/action.yml
  .github/workflows/coverage.yml
  .github/workflows/eslint.yml
  .github/workflows/license.yml
  .github/workflows/prettier.yml
  .github/workflows/test.yml
  .gitignore
  .yarn/releases/yarn-3.3.1.cjs
  .yarnrc.yml
  Dockerfile
  package.json
  yarn.lock
Labels: improvement, workflow (gh-actions)

#668 chore: .editorconfig の追加
  .editorconfig
Labels: improvement

#670 fix: Memeのヘルプに使われる説明欄の修正
  src/service/command/meme/hukueki.ts
  src/service/command/meme/kenjou.ts
  src/service/command/meme/koume.ts
  src/service/command/meme/moeta.ts
  src/service/command/meme/takopi.ts
  src/service/command/meme/web3.ts
Labels: improvement

#672 chore: issue templete から issue form に置き換える
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/custom-issue.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labels.yml
Labels: improvement

#673 fix: Bug report のform configを修正
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: bug

#676 chore: GitHub Issue Form で提出されたIssueがコードブロックで生成されてしまう問題を修正
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: bug

#678 feat: パーティーのBGMにマクドナルドのポテトが揚がる音(ティロリサウンド)を追加
  assets/party/potato.mp3
  src/server/index.ts
  src/service/command/party.ts
Labels: enhancement

#679 feat: 埋め込みカラーをパーソナルカラーに
  src/adaptor/discord/output.ts
  src/adaptor/embed-convert.ts
  src/service/command/ping.ts
  src/service/voice-diff.test.ts
  src/service/voice-diff.ts
Labels: enhancement

#683 feat: プログラマ狩り構文の追加
  src/service/command/meme/index.ts
  src/service/command/meme/test/tsureteike.test.ts
  src/service/command/meme/tsureteike.ts
Labels: enhancement

#687 fix: break embed links displayed in `!version`
  src/service/command/version.ts
Labels: bug

#669 feat: メッセージの変更差分の改善
  package.json
  src/model/judging-status.ts
  src/service/command/meme/ojaru.ts
  src/service/command/meme/takopi.ts
  src/service/command/party.ts
  src/service/difference-detector.test.ts
  src/service/difference-detector.ts
  yarn.lock
Labels: enhancement

#691 ci: 変更されたファイル名の中にアスタリスクが含まれていたら拒否する
  .github/workflows/invalid-character-checker-for-ntfs.yml
Labels: workflow (gh-actions)
