Repository approvers/OreOreBot2, pull requests merged in 2024-02, with the labels that each got.

#1257 chore: サポートする Node.js のバージョンを `v20` に固定
  .github/CONTRIBUTING.md
  packages/bot/README.md
  packages/bot/package.json
Labels: T-@oreorebot2/bot

#1259 feat: 絵文字作成ログに絵文字画像とIDを表示するように
  packages/bot/src/adaptor/proxy/emoji.ts
  packages/bot/src/service/emoji-log.test.ts
  packages/bot/src/service/emoji-log.ts
Labels: C-enhancement, T-@oreorebot2/bot

#1272 chore: ts-node を tsx へ置き換え
  packages/bot/package.json
  pnpm-lock.yaml
Labels: T-@oreorebot2/common, T-@oreorebot2/bot

#1275 fix(docker): Sentry 依存のパッケージを削除
  Dockerfile
  packages/bot/package.json
  packages/bot/src/server/index.ts
  pnpm-lock.yaml
Labels: T-@oreorebot2/common, T-@oreorebot2/bot

#1296 feat: ウェルカムメッセージを更新する
  packages/bot/src/service/welcome-message.test.ts
  packages/bot/src/service/welcome-message.ts
Labels: T-@oreorebot2/bot
