Repository approvers/OreOreBot2, pull requests merged in 2024-01, with the labels that each got.

#1233 chore: sentry を有効化
  Dockerfile
  packages/bot/package.json
  packages/bot/src/server/index.ts
  pnpm-lock.yaml
Labels: T-@oreorebot2/common, T-@oreorebot2/bot

#1248 docs: `/kaere` ・ `/party` での即時実行に関する注記追加
  packages/docs/src/pages/references/commands/voice/kaere.mdx
  packages/docs/src/pages/references/commands/voice/party.mdx
Labels: T-@oreorebot2/docs

#1249 feat: メッセージが投稿後３秒以内に削除された場合に特殊メッセージを送信するように変更
  packages/bot/src/adaptor/proxy/middleware/message-convert.ts
  packages/bot/src/server/index.ts
  packages/bot/src/service/deletion-repeater.test.ts
  packages/bot/src/service/deletion-repeater.ts
  packages/bot/src/service/index.ts
Labels: T-@oreorebot2/bot

#1256 docs: 早すぎるメッセージ削除だった場合の delete-diff に関してのドキュメント更新
  packages/docs/src/pages/references/commands/role-create.mdx
  packages/docs/src/pages/references/features/delete-diff.mdx
Labels: T-@oreorebot2/docs
